Fill valid code/values in place of blanks.

In [1]:
# import required libraries
import pandas as pd
import numpy as np

In [2]:
scores = [29,27,14,23,29,10]

# find the mean of all items of the list 'scores'
np.mean(scores)

22.0

In [3]:
# find the median of all items of the list 'scores'
np.median(scores)

25.0

In [4]:
from statistics import mode

fruits = ['apple', 'grapes', 'orange', 'apple']

# find mode of the list 'fruits'
mode(fruits)

'apple'

In [5]:
from random import sample
data = sample(range(1,100),50) # generating a list 50 random integers

# find variance of data
np.var(data)

865.4484

In [6]:
# find standard deviation 
np.std(data)

29.418504380746484

### Please download the file "data_statistics.csv".

In [7]:
# read data_python.csv using pandas
mydata = pd.read_csv("data_statistics.csv")

In [8]:
# print first few rows of mydata
mydata.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [11]:
# plot histogram for 'Item_Outlet_Sales'
plt.hist(mydata['Item_Outlet_Sales'])
plt.show()

NameError: name 'plt' is not defined

In [13]:
# increadse no. of bins to 20
plt.hist(mydata['Item_Outlet_Sales'], bins=20)
plt.show()

NameError: name 'plt' is not defined

In [15]:
# find mean and median of 'Item_Weight'
np.mean(mydata['Item_MRP']), np.median(mydata['Item_MRP'])

(140.9927819781767, 143.0128)

In [16]:
# find mode of 'Outlet_Size'
mydata['Outlet_Size'].mode()

0    Medium
Name: Outlet_Size, dtype: object

In [17]:
# frequency table of 'Outlet_Type'
mydata['Outlet_Type'].value_counts

<bound method IndexOpsMixin.value_counts of 0       Supermarket Type1
1       Supermarket Type2
2       Supermarket Type1
3           Grocery Store
4       Supermarket Type1
              ...
8518    Supermarket Type1
8519    Supermarket Type1
8520    Supermarket Type1
8521    Supermarket Type2
8522    Supermarket Type1
Name: Outlet_Type, Length: 8523, dtype: object>

In [18]:
# mean of 'Item_Outlet_Sales' for 'Supermarket Type2' outlet type
np.mean(mydata['Item_Outlet_Sales'][mydata['Outlet_Type'] == 'Supermarket Type2'])

1995.498739224138

In [19]:
# mean of 'Item_Outlet_Sales' for 'Supermarket Type3' outlet type
np.mean(mydata['Item_Outlet_Sales'][mydata['Outlet_Type'] == 'Supermarket Type3'])

3694.038557647059

In [21]:
# 2 sample independent t-test 
from scipy import stats
stats.ttest(mydata['Item_Outlet_Sales'][mydata['Outlet_Type'] == 'Supermarket Type2'], mydata['Item_Outlet_Sales'][mydata['Outlet_Type'] == 'Supermarket Type3'])

AttributeError: module 'scipy.stats' has no attribute 'ttest'