# Arithmetic Operators

In [1]:
#Addition

3 + 5

8

In [2]:
# Subtraction

54 - 46

8

In [3]:
# Multiplication

2 * 3

6

In [4]:
# Division

35 /7

5.0

In [5]:
"neeraj"+20

TypeError: can only concatenate str (not "int") to str

In [6]:
"neeraj"+"20"

'neeraj20'

In [7]:
"neeraj" * 5

'neerajneerajneerajneerajneeraj'

# Comparison Operators

In [8]:
# greater than

45 >34

True

In [9]:
# less than 

56 <23

False

In [10]:
34 * 34 < 45*23

False

In [11]:
45 == 45

True

# Logical Operators

In [12]:
# and operator

0 and 3

0

In [13]:
3 and 0

0

In [14]:
3 and 5

5

In [15]:
# or operator

0 or 3

3

In [16]:
3 or 0

3

In [17]:
3 or 5

3